<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <title>Merapy</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="{{ url_for('static', filename='css/bootstrap.min14ed.css') }}?v=3.3.6" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min93e3.css') }}?v=4.4.0" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.min862f.css') }}?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航-->
    {% include 'base/_navbar.html' %}

    <!--主要部分-->
    {% include 'base/_page.html' %}

    <!--主题工具栏-->
    {% include 'base/_right.html' %}

</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=2.1.4"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}?v=3.3.6"></script>
<script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/layer/layer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/hplus.min.js') }}?v=4.1.0"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/contabs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>

</body>

</html>